.question__analysis__container{
    position: absolute;
    width: 386px;
    height: 393px;
    left: 1065px;
    top: 623px;
    border: 1px solid #EBF0F5;
    box-sizing: border-box;
    border-radius: 10px;
}


.qa__title h3{
    position: absolute;
    width: 157px;
    height: 28px;
    left: 23px;
    top: 1px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}


.qa__score{
    position: absolute;
    width: 48px;
    height: 21px;
    left: 310px;
    top: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #438AF6;
}


.qa__subtitle{
    position: absolute;
    width: 326px;
    height: 42px;
    left: 26px;
    top: 50px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #566474;
}


.div__img{
    margin-left: 2rem;
    margin-top: 10rem;
}

.div__img canvas {
    width: 355px !important;
    height: 225px !important;
}